body {
    margin: 0;
    font-family: 'Arial', sans-serif;
}

/* || Overlay styles */
#loadingOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 1000; /* High z-index to stay on top */
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    transition: top 0.5s ease; /* Transition for sliding up */
}

#overlayLogo {
    max-width: 100%; /* Allow the logo to be as wide as the overlay */
    max-height: 100%; /* Allow the logo to be as tall as the overlay */
    object-fit: contain; /* Maintain aspect ratio without cropping */
}

/* || Navbar styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px;
}

.burger-menu {
    cursor: pointer;
    display: block;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 6px 0;
}

.navbar-logo {
    display: flex;
    align-items: center; /* Center logo vertically */
}

.navbar-logo img {
    height: 80px; /* Adjust the height as needed */
    width: auto; /* Maintain aspect ratio */
}

.burger-menu-placeholder {
    visibility: hidden;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.menu-panel {
    position: fixed;
    top: 0;
    left: -100%; /* Start off-screen */
    width: 80%; /* Adjust the width as needed, but not more than 100% */
    max-width: 300px; /* Maximum width to prevent it from being too wide */
    height: 100%;
    background-color: #333;
    box-shadow: 2px 0px 5px rgba(0,0,0,0.5);
    z-index: 2;
    transition: left 0.3s; /* Smooth transition for sliding in and out */
    overflow-y: auto; /* Allows scrolling if content is too long */
}

.menu-links {
    display: flex;
    flex-direction: column; /* Arrange links in a column */
    align-items: center; /* Center align the links */
    justify-content: center;
    padding: 20px 0; /* Add some padding at the top and bottom */
}

.menu-links a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    transition: background-color 0.3s;
    width: 100%; /* Make links full width */
    text-align: center; /* Center align the text */
}

/* Class to be added via JavaScript when the burger menu is clicked */
.menu-panel.open {
    left: 0; /* Slide in */
}

.menu-links-desktop {
    display: none; /* Initially hidden, will be displayed on larger screens */
    flex-grow: 1; /* Allow the links to grow and fill the space */
    text-align: center; /* Center the links */
}

.menu-links-desktop a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    transition: background-color 0.3s;
}

.menu-links-desktop a:hover {
    background-color: #555;
}

/* || Home page styles */
.hero-section {
    position: relative;
    height: 700px; /* Adjust the height as needed to accommodate the vertical video */
}

.banner {
    position: relative;
    height: 100%;
    overflow: hidden;
}

.banner video {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the entire video is visible */
    display: block;
}

.category-filter {
    text-align: center;
    margin-bottom: 20px;
}

.category-button {
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    /* Additional styling as needed */
}

.items-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; /* Spacing between items */
    /* Additional styling as needed */
}

#category-section {
    text-align: center;
    padding: 20px; /* Added padding to the entire section for spacing */
    margin-bottom: 50px; /* Space below the section */
}

.categories {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px; /* Increased gap for more space between categories */
    margin-top: 20px; /* Space above the first row of categories */
}

.category-item {
    flex-basis: calc(33.333% - 40px); /* Adjust width, subtracting the gap */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Optional: Adds a subtle shadow */
    border-radius: 8px; /* Optional: Rounds the corners */
    overflow: hidden; /* Keeps child elements within the border-radius */
    transition: transform 0.3s ease; /* Optional: Adds a transform effect on hover */
    margin-bottom: 20px; /* Space below each category item */
}

.category-item img {
    width: 100%;
    display: block; /* Remove any space below the image */
    border-bottom: 1px solid #ddd; /* Line between image and text for separation */
}

.category-item h3 {
    margin: 0;
    padding: 15px; /* Increased padding for more space inside each category */
    background-color: #f0f0f0; /* Adjust background color as needed */
    font-size: 1.1em; /* Slightly larger text */
}

/* Hover effect */
.category-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0,0,0,0.2); /* Slightly deeper shadow on hover */
}

#category-items {
    text-align: center;
}

.tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.tab {
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    /* Add additional styling for tabs */
}

.items {
    display: flex;
    justify-content: center;
}

.item {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    text-align: center;
    transition: box-shadow 0.3s ease-in-out;
    cursor: pointer;
}

.item:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#ingredients-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 100;
    text-align: left;
}

/* || About us page styles */
.about-section,
.goals-section,
.team-section {
  margin: 30px;
  padding: 30px;
}

.about-section h1,
.goals-section h1,
.team-section h1 {
  font-size: 30pt;
  margin-bottom: 15px;
}

.about-section p,
.goals-section p,
.team-member p {
  font-size: 16px;
  line-height: 1.6;
}

.team-members {
  display: flex;
  justify-content: space-between;
}

.team-member {
  text-align: center;
  flex-basis: 30%;
}

.team-member h3 {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.profile-pic img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* || Ingredients/Options page styles */

.category-section {
    text-align: center;
    padding: 20px;
    margin: 50px;
}

.category-section h2 {
    font-size: 28px;
    margin-bottom: 70px;
    display: inline-block;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    justify-content: center;
}

.meal-section {
    text-align: center;
    position: relative;
    padding-bottom: 50px; /* Adjust the value as needed */
}

.meal-info {
    margin-bottom: 20px;
}

.meal-info img {
    max-width: 70%;
    height: auto;
    border-radius: 8px;
}

.ingredients-button {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 8px 12px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.ingredients-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.ingredients-overlay p {
    color: #fff;
    font-size: 18px;
}

/* Media Query for Desktop Screens */
@media screen and (min-width: 768px) {
    .menu-links-desktop {
        display: block; /* Show the links on desktop */
    }

    .burger-menu {
        display: none; /* Hide burger menu on larger screens */
    }

    .menu-panel {
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    #overlayLogo {
        max-width: 150px; /* Increased size of logo for mobile screens */
    }

    nav {
        justify-content: center; /* Center elements in navbar */
    }

    .burger-menu, .burger-menu-placeholder {
        position: absolute;
        left: 10px; /* Adjust as needed */
        width: 25px; /* Adjust as needed */
        height: auto;
    }

    .burger-menu-placeholder {
        visibility: hidden; /* Keep the placeholder invisible */
    }

    .navbar-logo img {
        height: 60px; /* Adjust the logo size for mobile */
    }

    .menu-panel {
        display: flex;
    }

    .menu-links {
        width: 100%;
        text-align: center;
    }

    .menu-links a {
        padding: 5px;
    }

    .hero-section {
        height: 250px; /* Adjust the height for smaller screens */
    }

    .banner img {
        object-fit: cover;
    }

    .categories {
        gap: 20px; /* Slightly reduce the gap on mobile for better fit */
    }

    .category-item {
        flex-basis: 100%; /* Full width on mobile devices */
    }

    /* || About us responsive styles */
    .about-section,
    .goals-section,
    .team-section {
      margin: 20px;
      padding: 10px;
    }
  
    .about-section h1,
    .goals-section h1,
    .team-section h1 {
      font-size: 20pt;
    }
  
    .about-section p,
    .goals-section p,
    .team-member p {
      font-size: 14px;
    }

    .team-members {
      flex-direction: column;
    }
  
    .team-member {
      margin-bottom: 20px;
    }
}